@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Scrollbar kengligini belgilash */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar orqasidagi trek (background) */
::-webkit-scrollbar-track {
  background-color: #555;
}

/* Scrollbarning ko'rinadigan qismini aniqlash */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #121212;
}

/* Scrollbar ustida hover effekt */
::-webkit-scrollbar-thumb:hover {
  background-color: #242424;
}
